.cart-item {
  width: 90%;
  height: 10vh;
  display: flex;
  align-items: center;
  margin: auto;
}

.cart-img-container {
  display: flex;
  width: 10%;
  justify-content: center;
}

.cart-img-container img {
  object-fit: cover;
  overflow: hidden;
  border-radius: 20px 0 0 20px;
}

.cart-item-remove {
  margin-left: auto;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 2%;
  color: #3e8a53;
}

.cart-item-name {
  font-weight: 500;
  font-size: 1.2rem;
}

.cart-item-price {
  font-weight: bold;
  font-size: 1.4rem;
}
