.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 1vh 2vh;
  align-items: center;
  min-height: 10vh;
  background-color: #3e8a53;
}

.category-container {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 50%;
  flex-wrap: wrap;
}

.category-btn {
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 50px;
  color: inherit;
  text-decoration: none;
}

.category-btn:hover {
  cursor: pointer;
  color: #a9f291;
  background-color: #a9f29120;
}

.active-btn {
  color: #a9f291;
  box-shadow: inset #a9f29150 0 1px 5px;
}
